@font-face {
  font-family: fontPixels;
  src: url(assets/font.TTF);
}

@font-face {
  font-family: squareFont;
  src: url(assets/Square.ttf);
}

@keyframes fade {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes fadeout {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

@keyframes fadein {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes fade2 {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes killTuco {
  from {
    margin-left: 0%;
    margin-top: 50px;
  }
  to {
    margin-left: -200%;
    margin-top: -170px;
  }
}

@keyframes jump {
  from {
    margin-top: 250px;
  }
  50% {
    margin-top: 25px;
  }
  to {
    margin-top: 250px;
  }
}

@keyframes moveopp {
  from {
    margin-left: 1500px;
    opacity: 100%;
  }

  to {
    margin-left: -200px;
    opacity: 100%;
  }
}

@keyframes moveTuco {
  from {
    margin-left: 120%;
  }
  to {
    margin-left: 65%;
  }
}

@keyframes slideout {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: 600%;
  }
}

input:checked + .slider {
  background-color: rgb(116, 172, 116);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(116, 172, 116);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.character-select-icon {
  max-width: 100px;
  max-height: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.border {
  border: 4px solid rgb(93, 174, 177);
  border-radius: 5px;
}

.config-label {
  font-family: squareFont;
  color: white;
}

.crystal {
  z-index: -1;
  position: fixed;
  width: 80px;
  height: 60px;
  bottom: 50%;
  background-repeat: no-repeat;
  background-size: contain, cover;
  opacity: 0%;
}

.fade {
  animation: fade 1.5s infinite;
}

.fadein {
  animation: fadein 0.5s;
}

.fadeout {
  animation: fadeout 0.5s;
}

.fade2 {
  animation: fade2 0.5s;
}

.jump {
  animation: jump 0.6s;
}

.killTuco {
  animation: killTuco 0.7;
}

.movealittle {
  animation: moveinalittle 0.25s;
}

.opp {
  z-index: -1;
  position: fixed;
  width: 80px;
  height: 60px;
  bottom: 5%;
  background-repeat: no-repeat;
  background-size: contain, cover;
  opacity: 0%;
}

.rv {
  transform: scaleX(-1);
  animation: moveTuco 0.5s;
  position: fixed;
  z-index: -1;
  width: 80%;
  height: 100%;
  margin-top: -20%;
}

.start-button {
  margin-top: 2.5%;
  color: white;
  font-family: squareFont;
  width: 10%;
  height: 20%;
  font-size: 50px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
}

.start-button:hover {
  color: rgb(116, 172, 116);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.tuco {
  position: fixed;
  z-index: -1;
  width: 175px;
  height: 350px;
  background-image: url(assets/tucofight.png);
  margin-top: 50px;
}

.tuco-div {
  animation: moveTuco 0.5s;
  margin-top: 150px;
}

.tucoHealth {
  margin-bottom: 0;
  margin-left: 15px;
  background: rgb(143, 29, 29);
}

#character-select-icon-div {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#choose-your-character-div {
  position:absolute;
  left:0;
  right:0;
  height: 350px;
  background-color: rgb(76, 132, 76);
  display: flex;
  justify-content: center;
  align-items: center;
}

#config-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

#infiniteLabel {
  font-size: 30px;
}

#music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rv {
  position: fixed;
  z-index: -1;
  margin-top: 100%;
  width: 50%;
  height: 70%;
}

#score {
  color: rgb(93, 174, 177);
  z-index: 2;
  font-family: fontPixels;
  margin-left: 94%;
  margin-bottom: 0;
}

#subtitle {
  color: rgb(116, 172, 116);
  z-index: 2;
  font-family: fontPixels;
  margin-top: 0;
  font-size: 35px;
}

#title {
  color: rgb(95, 139, 95);
  z-index: 2;
  font-family: fontPixels;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 75px;
}

#title-container {
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#walter {
  position: fixed;
  z-index: -1;
  width: 150px;
  height: 300px;
  margin-left: 50%;
  margin-top: 250px;
  background-image: url(assets/walter.png);
}